{%  extends "layout.html"   %}

{%  block title %}
Sell
{%  endblock%}

{%  block main  %}
<form action="/sell" method="POST">
    <select name="symbol" class="sell">
        <option value="Symbol" disabled selected>Symbol</option>
    
        {%  for symbol in symbols   %}
    
            <option value="{{ symbol }}">{{ symbol.upper() }}</option>
    
        {%  endfor  %}
    
    </select>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" type="number" name="shares" placeholder="Shares">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{%  endblock    %}